{% extends "layouts/base.html" %}
{% block content%}
<div class="container">
    
    <article>
        <h1>Privacy</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis, ratione quis earum blanditiis adipisci rem
            fugit beatae expedita, iste magni quisquam velit maxime optio! Eaque nesciunt aperiam numquam eligendi
            architecto?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate praesentium vero odio ullam velit fugit
            distinctio, id voluptatem repudiandae veniam saepe natus modi ipsum deleniti excepturi ex ut odit
            recusandae!</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis, ratione quis earum blanditiis adipisci rem
                fugit beatae expedita, iste magni quisquam velit maxime optio! Eaque nesciunt aperiam numquam eligendi
                architecto?</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate praesentium vero odio ullam velit fugit
                distinctio, id voluptatem repudiandae veniam saepe natus modi ipsum deleniti excepturi ex ut odit
                recusandae!</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis, ratione quis earum blanditiis adipisci rem
                    fugit beatae expedita, iste magni quisquam velit maxime optio! Eaque nesciunt aperiam numquam eligendi
                    architecto?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate praesentium vero odio ullam velit fugit
                    distinctio, id voluptatem repudiandae veniam saepe natus modi ipsum deleniti excepturi ex ut odit
                    recusandae!</p>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis, ratione quis earum blanditiis adipisci rem
                        fugit beatae expedita, iste magni quisquam velit maxime optio! Eaque nesciunt aperiam numquam eligendi
                        architecto?</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate praesentium vero odio ullam velit fugit
                        distinctio, id voluptatem repudiandae veniam saepe natus modi ipsum deleniti excepturi ex ut odit
                        recusandae!</p>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis, ratione quis earum blanditiis adipisci rem
                            fugit beatae expedita, iste magni quisquam velit maxime optio! Eaque nesciunt aperiam numquam eligendi
                            architecto?</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate praesentium vero odio ullam velit fugit
                            distinctio, id voluptatem repudiandae veniam saepe natus modi ipsum deleniti excepturi ex ut odit
                            recusandae!</p>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis, ratione quis earum blanditiis adipisci rem
                                fugit beatae expedita, iste magni quisquam velit maxime optio! Eaque nesciunt aperiam numquam eligendi
                                architecto?</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate praesentium vero odio ullam velit fugit
                                distinctio, id voluptatem repudiandae veniam saepe natus modi ipsum deleniti excepturi ex ut odit
                                recusandae!</p>
    </article>
</div>
{% endblock %}